

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    gap:2rem;
    border: 0.1rem rgba(0,0,0, 0.25 ) solid;
    background-color: white;
    background-size:cover;
    border-radius: 0.25em;
    background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.5) ),url(../../../assets/images/background/orchu.jpg);
    
   
    .title{
        color:rgb(0, 87, 184);
        font-size: 2rem;
        text-align: center;
       
    }

    .form{
        position: relative;
        display: flex;
        flex-direction: column;
        top:-1.5rem;
        margin: auto;
        align-items: center;
        gap:0.5rem;
        z-index: 3;
        
                    
        
        .inputs{
          
               
            height: 1.5rem;

            .label{

                font-size: 1.25rem;
            }
            
            .input {
                height: 1rem;
                background-color: rgb(247, 244, 244);
                border-radius:10px;
                min-width: 15ch;
                max-width: 30ch;
                border-radius: 0.25em;
                padding: 0.25em 0.5em;
                font-size: 1rem;

                &:hover{
                    border-color: rgb(0, 87, 184);
                    }

                @media (min-width: 450px) and (max-width: 750px) {
                    height: 1rem;
                    width: 7rem;
                    min-width: 10ch;
                }
                @media (max-width: 450px) {
                    min-width: 8ch;
                    height: 1rem;
                    width: 4rem;
                }
            }

            .error{
                position: relative;
                top:-2.5rem;
                left:28rem;
                color: red;
                height: 1rem;
                display: flex;
                flex-wrap: wrap;
    
                @media (min-width: 750px) and (max-width: 850px) {
                    left:18rem;
                    font-size: 0.7rem;
                    top:-0.3rem;
                }

                @media (min-width: 530px) and (max-width: 749px) {
                    left:13rem;
                    font-size: 0.7rem;
                    top:-0.3rem;
                }

                @media (min-width: 450px) and (max-width: 529px) {
                    left:12rem;
                    font-size: 0.7rem;
                    top:-0.3rem;
                }

                @media (max-width: 449px) {
                    left:9rem;
                    font-size: 0.7rem;
                    top:-0.3rem;
                }

            }


        }
        .select{
            
            
            min-width: 15ch;
            max-width: 30ch;
            border: 1px solid;
            border-radius: 0.25em;
            padding: 0.25em 0.5em;
            font-size: 1rem;
            cursor: pointer;
            line-height: 1.1;
            background-color: rgb(247, 244, 244);
            
            &:hover{
            border-color: rgb(0, 87, 184);
            }


/* 
            .ne{
                background-color: rgba(168, 221, 168, 0.74);
            }

            .orc{
                background-color: rgba(221, 180, 168, 0.74);
            }

            .ud {
                background-color: rgba(221, 168, 210, 0.74);
            }
            
            .hu{
                background-color: rgba(168, 202, 221, 0.74);
            }

            .rn{
                background-color: rgba(218, 221, 168, 0.74);
            } */
        }



        .button{
            position: relative;
            top:0.5rem;
            width:4.5rem;
            height: 2rem;
            background-color:rgb(0, 87, 184); 
            color:white; 
             border: none;
            cursor: pointer;
            border-radius: 0.25em;
            padding: 0.25em 0.5em;
            font-size: 1rem;
            cursor: pointer;
            line-height: 1.1;
            
            @media (max-width: 750px) {
                width:3.5rem ;
            }
            &:hover{
                background-color:rgb(0, 71, 151); 
            }

            &:active {
                background-color:rgb(1, 62, 133); 
                color:rgb(255, 215, 0);
            }

            
        }


    }

    .results {
        position: relative;
        top:-2rem;
        width: 30%;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        

        .title-result {
            
            margin: auto;
            color:white;
           
        }
        .mmr-result{
            
            margin: auto;
            background-color: rgb(255, 215, 0);
            width: 3rem;
            color: rgb(0, 71, 151);
            border-radius: 0.25em;
            padding: 0.25em 0.5em;
            font-size: 1rem;

        }
    


}


}


