<div class="container">
    <div class="title"> W3Champions MMR Counter </div>
    <form class="form">
        <div>
            <label> Battle tag (at least 3 letters)</label>
        </div>
        <div class="inputs">

            <input type="text" class="input final-input" [(ngModel)]="mmrForm.tag" required name="tag" list="tag" />
            <datalist id="tag" class="tag">
                <option *ngFor="let tag of tagReturn1a" value=" {{tag.battleTag}}">
            </datalist>

        </div>
        <label for="race">Choose race:
        </label>
        <select class="select" [(ngModel)]="mmrForm.race" id="race" name="race">
            <option value="4" class="ne"> Night elf</option>
            <option value="2" class="orc">Orc</option>
            <option value="8" class="ud">Undead</option>
            <option value="1" class="hu">Human</option>
            <option value="0" class="rn">Random</option>
        </select>

        <label for="season">Choose season:</label>
        <select class="select" type="number" [(ngModel)]="mmrForm.season" id="season" name="season">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="all">All</option>
        </select>

        <label for="mode">Choose mode:</label>
        <select class="select" [(ngModel)]="mmrForm.mode" id="mode" name="mode">
            <option value="1">1v1</option>
            <option value="601">1v1 RH</option>
            <option value="301">1v1 ROC</option>
            <option value="203">1v1 LEGION</option>
            <!--       <option value="2">2x2</option>
        <option value="4">4x4</option>
        <option value="5">FFA</option> -->
        </select>

        <button class="button" (click)="showCurrentMmr()" (click)="showMaxMmr()">show</button>
    </form>

    <div class="results">
        <table>
            <tbody>
                <tr>
                    <td class="title-result">
                        Current MMR
                    </td>
                    <div class="current-mmr-number mmr-result">0</div>
                </tr>
                <tr>
                    <td class="title-result">
                        Maximum MMR
                    </td>
                    <div class="max-mmr mmr-result">0</div>
                </tr>
                <tr>
                    <td class="title-result">
                        Minimum MMR
                    </td>
                    <div class="min-mmr mmr-result">0</div>
                </tr>
                <tr>
                    <td class="title-result">
                        Average MMR
                    </td>
                    <div class="av-mmr mmr-result">0</div>
                </tr>
                <tr>
                    <td class="title-result">
                        Median MMR
                    </td>
                    <div class="med-mmr mmr-result">0</div>
                </tr>
            </tbody>
        </table>
    </div>
</div>