<div class="results">
    <table>
        <tbody>
            <tr>
                <td class="title-result">Current MMR</td>
                <td class="mmr-result">{{ currentMmr }}</td>
            </tr>
            <tr>
                <td class="title-result">Maximum MMR</td>
                <td class="mmr-result">{{ maxMmr }}</td>
            </tr>
            <tr>
                <td class="title-result">Minimum MMR</td>
                <td class="mmr-result">{{ minMmr }}</td>
            </tr>
            <tr>
                <td class="title-result">Average MMR</td>
                <td class="mmr-result">{{ averageMmr }}</td>
            </tr>
            <tr>
                <td class="title-result">Median MMR</td>
                <td class="mmr-result">{{ medianMmr }}</td>
            </tr>
        </tbody>
    </table>
</div>