<div class="container">
  <div class="title"> W3Champions MMR Counter </div>
  <form class="form">
    <div>
      <label> Battle tag (case sensivity)</label>
    </div>
    <div class="inputs">
      <input type="text" class="input" [(ngModel)]="mmrForm.name" required name="name" />
      <label>#</label>
      <input type="number" class="input" [(ngModel)]="mmrForm.number" required name="number" />


      <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
      <p class="error" *ngIf="errorMessage1">{{errorMessage1}}</p>


    </div>
    <label for="race">Choose a race:
      <!-- (only for 1x1) -->
    </label>
    <select class="select" [(ngModel)]="mmrForm.race" id="race" name="race">
      <option value="4" class="ne">Night elf</option>
      <option value="2" class="orc">Orc</option>
      <option value="8" class="ud">Undead</option>
      <option value="1" class="hu">Human</option>
      <option value="0" class="rn">Random</option>

    </select>

    <label for="season">Choose a season:</label>
    <select class="select" type="number" [(ngModel)]="mmrForm.season" id="season" name="season">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
    </select>

    <label for="mode">Choose a mode:</label>
    <select class="select" [(ngModel)]="mmrForm.mode" id="mode" name="mode">
      <option value="1">1x1</option>
      <option value="601">1x1 RH</option>
      <!--       <option value="2">2x2</option>
      <option value="4">4x4</option>
      <option value="5">FFA</option> -->
    </select>

    <button class="button" (click)="showCurrentMmr()" (click)="showMaxMmr()">show</button>
  </form>

  <div class="results">

    <div class="title-result">
      Current MMR
    </div>
    <div class="current-mmr-number mmr-result">0</div>


    <div class="title-result">
      Maximum MMR
    </div>
    <div class="max-mmr mmr-result">0</div>

    <div class="title-result">
      Minimum MMR
    </div>
    <div class="min-mmr mmr-result">0</div>

    <div class="title-result">
      Average MMR
    </div>
    <div class="av-mmr mmr-result">0</div>

    <div class="title-result">
      Median MMR
    </div>
    <div class="med-mmr mmr-result">0</div>
  </div>
</div>

<app-footer></app-footer>